fastapi
uvicorn
streamlit
python-multipart
llama-index-core
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-ollama
llama-index-retrievers-bm25
llama-index-postprocessor-sbert-rerank
chromadb
pymupdf
tree_sitter
tree_sitter_python
sentence-transformers
rank_bm25
docx2txt
python-pptx
pandas
openpyxl